{% extends 'base.html' %}
{% block body %}
<!--Header-->
{% if user.is_authenticated %}
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Hello, {{request.user.first_name}}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Your Shopping Cart</p>
                </div>
            </div>
        </header>
        {% else %}
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop like Ken</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Your Shopping Cart</p>
                </div>
            </div>
        </header>
        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> 
        {% endif %}
    
    {% endblock %}
