{% extends 'base.html' %}
{% block body %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0"> Muthafuckin' G's</p>
        </div>
    </div>
</header>
<div class="'container">
    <div class="row">
            <center>
                <div class="col-8">


       
                    <p align="justify-content-center"><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis nunc at lacus laoreet volutpat. Praesent molestie mauris non augue egestas tincidunt. Proin ac lectus vehicula, interdum diam pharetra, efficitur magna. Morbi a turpis nec tortor rutrum mattis. Cras lectus augue, bibendum eu laoreet et, tempus vel orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                         Phasellus vitae convallis elit. Aliquam vitae congue libero, eget bibendum lacus.
                    
                        Fusce nec tempor quam. Nullam ut porta ex. Suspendisse convallis, elit in sollicitudin rhoncus, libero eros aliquam dolor, at convallis neque metus ac elit. 
                        Nullam congue, dui a tempor tempus, enim lorem porttitor mi, at convallis nulla sem id eros. Donec neque est, fringilla non magna sed, aliquam sodales sem. Etiam id nunc convallis, eleifend tortor vitae, tincidunt justo. Integer mollis imperdiet nunc, id pretium elit commodo id.
                        
                        Donec malesuada commodo sem, eu tincidunt massa lobortis congue. Curabitur ac magna non elit rhoncus molestie eu sit amet velit. Etiam dignissim, mauris vitae semper laoreet, mauris lacus congue mauris, at placerat sapien leo quis orci. Quisque tempor enim a scelerisque ullamcorper.
                         Vestibulum sed dictum lacus. Aenean scelerisque metus id commodo imperdiet. Integer sit amet neque felis. Cras finibus tellus nec porttitor scelerisque. Phasellus vel mauris in nulla egestas rutrum quis a leo. Aenean urna velit, lobortis sed laoreet vitae, vehicula sit amet dui. Proin vulputate, orci ut pretium posuere, ipsum turpis posuere nunc, a dictum dui justo eu ex.
                          Nunc volutpat ante accumsan, accumsan nisi luctus, eleifend odio. Nullam luctus scelerisque viverra. Etiam vitae laoreet sem. Morbi convallis, nunc vitae commodo porta, lacus ipsum consectetur dolor, commodo efficitur purus ex in mauris.<br>
                        
                        
                    </p>
            </center>
        </div>
 
{% endblock %}